@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

@import "./_variables.scss";
@import "../components/_theme-switcher.scss";
@import "../components/_todo-input.scss";
@import "../components/_todo-list.scss";
@import "../components/_todo-list-footer.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.light {
  background-color: $lt-very-light-gray;
  .header {
    background-image: url(../images/bg-desktop-light.jpg);
  }
}

.dark {
  background-color: $dt-very-dark-desaturated-blue;
  .header {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-size: 18px;
}

.container {
  width: 80%;
  max-width: 540px;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;

  &__title {
    padding: 48px 0 40px 0;
    display: flex;
    justify-content: space-between;

    h1 {
      font-size: 21px;
      font-weight: bold;
      color: white;
      text-transform: uppercase;
      letter-spacing: 12px;
    }
  }
}

#labelForEmptyList {
  font-size: 24px;
  color: $dt-dark-grayish-blue;
  position: absolute;
  left: 50%;
  top: 75%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
  &.hidden {
    visibility: hidden;
  }
}

@media screen and (min-width: 426px) {
  .header {
    height: 298px;

    &__title {
      padding: 78px 0 50px 0;

      h1 {
        font-size: 30px;
      }
    }
  }
}
