.popup-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;

  .popup {
    width: 350px;
    height: 200px;
    padding: 15px;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    -moz-animation-name: slidein;
    -moz-animation-duration: .8s;
    animation-name: slidein;
    animation-duration: .8s;

    .close-btn {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      color: $dt-dark-grayish-blue;
      transition: .2s;

      &:hover {
        color: $dt-very-dark-grayish-blue-2;
      }
    }

    &__title {
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      color: $dt-very-dark-desaturated-blue;
    }

    &__content {
      text-align: center;

      button {
        border: 1px solid $dt-dark-grayish-blue;
        background-color: #fff;
        padding: 10px;
        margin-top: 25px;
        font-family: inherit;
        transition: .2s;
        
        img {
          margin-right: 7px;
        }

        &:hover {
          cursor: pointer;
          box-shadow: 0px 10px 15px rgba(121, 86, 197, 0.4);
          transform: translateY(-5px);
        }

        &:active {
          transform: translateY(0px);
        }
      }
    }

    &__footer {
      font-size: 11px;
      position: absolute;
      bottom: 15px;
      left: 25px;
    }
  }
}


/* ===================== THEME COLOR =================== */

.light {

  .popup {
    background-color: white;

    .close-btn {
      filter: invert(30%);

      &:hover {
        filter: invert(10%);
      }
    }

    &__title {
      color: $lt-very-dark-grayish-blue;
    }

    button {
      border: 1px solid $lt-very-dark-grayish-blue;
      color: $lt-very-dark-grayish-blue;
      background-color: #fff;

      img {
        filter: invert(30%);
      }
    }

    &__footer {
      color: $lt-dark-grayish-blue;
    }
  }
}

.dark {
  .popup {
    background-color: $dt-very-dark-grayish-blue-2;

    .close-btn {
      filter: invert(100%);

      &:hover {
        filter: invert(30%) sepia(86%) saturate(1574%) hue-rotate(242deg) brightness(88%) contrast(86%);
      }
    }

    &__title {
      color: #fff;
    }

    button {
      border: 1px solid $dt-light-grayish-blue;
      background-color: $dt-very-dark-grayish-blue-2;
      color: #fff;

      img {
        filter: invert(100%) sepia(0%) saturate(7492%) hue-rotate(187deg) brightness(103%) contrast(100%);
      }
    }

    &__footer {
      color: $dt-dark-grayish-blue;
    }
  }
}

/* ========= ANIMATION ============ */

@keyframes slidein {
  from {
    margin-top: -90%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}