.theme-switcher {
  background-repeat: no-repeat;
  background-size: cover;
  height: 21px;
  width: 21px;
  &:hover {
    cursor: pointer;
  }
}

.dark {
  .theme-switcher {
    background-image: url(../images/icon-sun.svg);
  }
}

.light {
  .theme-switcher {
    background-image: url(../images/icon-moon.svg);
  }
}